.scanner {
  width: 350px;
  margin: auto;
  margin-top: 15px;
}
.textshadow-grey {
  text-shadow: 1px 1px 1px gray;
}
.glow-button {
  float: right;
  margin: 120px 140px 0px 0px;
}
.bgcolor-red {
  background-color: red;
  color: red;
  padding: 0px 1px 35px 0px;
  margin: 0px 45px 0px 0px;
  box-shadow: 2px 2px 10px red, -2px -2px 10px red;
  width: 30px;
}
.bgcolor-green {
  background-color: green;
  color: green;
  padding: 0px 1px 35px 0px;
  margin: 0px 45px 0px 0px;
  box-shadow: 2px 2px 10px green, -2px -2px 10px green;
  width: 35px;
}
.scantext {
  margin: 7px 0px 0px 15px;
}
.font-20 {
  font-size: 20px;
}
